.App {
  .DataViz2019 {
    font-family: monospace;
    display: flex;
    max-width: 1000px;
    margin: 0px auto;

    ::-webkit-scrollbar {
      display: none;
    }

    ul {
      padding-left: 1em;
    }

    .fullHeightContainer {
      box-sizing: border-box;
      display: inline-block;
      height: calc(100vh);
      overflow: scroll;
      padding: 30px;
      vertical-align: top;
      width: 33%;
    }

    %yellow, .yellow {
      background-color: yellow;
    }

    %black, .black {
      background-color: black;
      color: white;
      font-weight: bold;
    }

    .Calendar, .Display, .Connections {
      padding: 120px 0px;
    }

    .Calendar {
      cursor: default;
      float: right;
      min-width: 102px;

      .Dot {
        &.hoverable {
          cursor: pointer;

          &:hover {
            font-weight: bold;
          }
        }
      }
    }

    .Display {
      hr {
        border: 0.7px black solid;
        width: 120px;
        margin: 10px 0px;
      }

      .guestMoment {
        cursor: pointer;
        width: fit-content;

        &:hover {
          @extend %black;
        }
      }

      .momentGuest {
        cursor: pointer;
        width: fit-content;
      }

      .close {
        cursor: pointer;
        margin-top: 10px;
        width: fit-content;

        &:hover {
          @extend %yellow;
          font-weight: bold;
        }
      }
    }

    .Connections {
      .connectedGuest {
        cursor: pointer;
        width: fit-content;

        &:hover {
          @extend %black;
        }
      }
    }
  }
}
